extends layout

block content
    h1= title

    ul
    each player in player_list
        li #{player.name} - #{player.won}

    else 
        li There are no players yet.

    h2 Add new player
    form(method='POST' action='/players/create')
        div
            label(for='name') Name:
            input#name(type='text', placeholder='Player name' name='name')
        button(type='submit') Create new Player